<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.incresol.lu.conversions">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|uiMode|smallestScreenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Custom_Image_Dialog"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|locale|screenLayout|navigation|screenSize"/>
        <activity android:name=".Custom_aob_info_dialog"
            android:configChanges="keyboardHidden|locale|screenLayout|navigation|screenSize"/>
    </application>

</manifest>